.header {
    position: absolute;
    top: -400px;
    vertical-align: top;

}
.reveal table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}
.reveal table th, .reveal table td {
    padding: 0.2em 0.5em;
    text-align: left;
}
.reveal table th {
    font-weight: bold;
}
.reveal section img.noborder {
    border: none;
    box-shadow: none;
}
